# This workflows executes new or modified example notebooks.

name: test_changed_notebooks

defaults:
  run:
    shell: bash  # To override PowerShell on Windows

on:
  # Trigger the workflow on push or PR to any branch
  push:
    paths:
      - '**/*.ipynb'
  pull_request:
    paths:
      - '**/*.ipynb'
    # don't trigger for draft PRs
    types: [ opened, synchronize, reopened, ready_for_review ]
  # Trigger the workflow on manual dispatch
  workflow_dispatch:

jobs:
  select-runner:
    runs-on: ubuntu-22.04
    outputs:
      runner: ${{ steps.select_runner.outputs.runner }}
    steps:
      - uses: actions/checkout@v3
      - name: Select runner
        id: select_runner
        run: |
          if [ "${{ github.repository }}" = "NeuroDesk/example-notebooks" ]; then
            echo "runner=cirun-oracle--${{ github.run_id }}" >> $GITHUB_OUTPUT
          else
            echo "runner=ubuntu-22.04" >> $GITHUB_OUTPUT
          fi
          
  test-notebooks:
    needs: select-runner
    runs-on: ${{ needs.select-runner.outputs.runner }}
    
    strategy:
      fail-fast: false
      matrix:
        notebooks: [ "functional_imaging/nipype_fsl_all_levels_flanker.ipynb", "structural_imaging/qsmxt_example.ipynb"]
    steps:
    - uses: actions/checkout@v3

    - name: Test singularity and cvmfs before pushing to neurocommand
      run: 
        /bin/bash .github/workflows/setup_cvmfs.sh

    - name: Install dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python -m pip install jupyter-book ghp-import graphviz ipyniivue

    - name: Run ${{ matrix.notebooks }}
      shell: bash
      working-directory: ./books
      run: |
        echo ${{ github.workspace }}
        echo $GITHUB_WORKSPACE
        export PATH=$HOME/.local/bin:$PATH
        echo "PATH=$PATH"
        export LD_PRELOAD=
        echo "LD_PRELOAD=$LD_PRELOAD"
        export APPTAINER_BINDPATH=${{ github.workspace }},/cvmfs
        echo "APPTAINER_BINDPATH=$APPTAINER_BINDPATH"
        export LMOD_CMD=/usr/share/lmod/lmod/libexec/lmod
        export MPLCONFIGDIR=${{ github.workspace }}/matplotlib-mpldir
        export MODULEPATH=$(find /cvmfs/neurodesk.ardc.edu.au/neurodesk-modules/ -maxdepth 1 -mindepth 1 -type d -exec realpath {} \; | tr '\n' ':')
        echo "MODULEPATH=$MODULEPATH"
        jb build ${{ matrix.notebooks }}

    - name: Push to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./books/_build/_page/$(dirname ${{ matrix.notebooks }})-$(basename -s .ipynb ${{ matrix.notebooks }})/html
        destination_dir: $(dirname ${{ matrix.notebooks }})
        exclude_assets: '**.js,*index.html,search.html,objects.inv,.buildinfo,_sphinx_design_static/*,_static/*'
        keep_files: true
        cname: www.neurodesk.org
